Habitix/Habitix.Api/obj/
Habitix/Habitix.Api/bin/
Habitix/Habitix.Core/obj/
Habitix/Habitix.Core/bin/
Habitix/Habitix.Data/obj/
Habitix/Habitix.Data/bin/
Habitix/Habitix.Services/obj/
Habitix/Habitix.Services/bin/